.background {
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.info {
  display: inline-block;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.8);
  height: inherit;
}
.image {
  width: 30%;
  height: auto;
}
.genre {
  list-style-type: disc;
}
