.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.background {
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.info,
.image {
  float: left;
  margin-top: 10%;
  height: 300px;
}
.info {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  box-sizing: border-box;
  margin-left: 10px;
  text-align: left;
  line-height: normal;
}
.image {
  margin-left: 10%;
}
