@font-face {
  font-family: "netflixFont";
  src: url("../fonts/BebasNeue.woff") format("woff");
}
.header {
  background-color: rgb(0, 0, 0);
  height: 3vw;
}
.header ul {
  margin: 0;
  padding: 0 6vw 0 6vw; /* 영상의 위아래가 검은색이라 중앙인것처럼 조치*/
  height: 100%;
}
.header ul li {
  height: 100%;
  display: inline-block;
  margin-right: 5%;
}
.sns {
  float: right;
}
.sns img {
  width: 100%;
  height: 100%;
}
.a {
  display: inline-block;
  height: 70%;
  margin: 15% 0% 15% 0%;
}
.fontTrans {
  font-size: 2vw;
  font-family: "netflixFont";
  color: #e50914;
}
.fontTrans div {
  height: 100%;
  line-height: 4vw;
}
