@font-face {
  font-family: "netflixFont";
  src: url("../fonts/BebasNeue.woff") format("woff");
}
nav {
  background-color: black;
}
nav ul {
  margin: 0;
}
nav ul li {
  color: white;
  display: inline-block;
}
.sns {
  float: right;
}
.sns img {
  height: 30px;
  vertical-align: middle;
  margin: 15px;
}
.a {
  height: 30px;
  width: 30px;
}
.fontTrans {
  font-size: 50px;
  font-family: "netflixFont";
  color: #e50914;
  display: inline-block;
  transform: rotate(-5deg);
}
