.modal {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: white;
  visibility: hidden;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: Century Gothic, sans-serif;
}
.title,
.rating {
  padding-top: 10px;
  font-size: 100%;
  text-align: center;
}
.modal .genres {
  font-size: 70%;
  padding-top: 10px;
  padding-left: 20px;
}
.hovering {
  animation-name: show-modal;
  animation-duration: 0.8s;
  visibility: visible;
}
@keyframes show-modal {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
.movieDiv {
  position: relative;
}

.imgLink img {
  width: 100%;
}
